BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
SpacesInAngles: false
SortIncludes: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
ReflowComments: true
InsertNewlineAtEOF: true
